.logo {
    width: 60px;
    border-radius: 15px;
}

.banner {
    background: url(https://pcdn.goldapple.ru/p/c/1000000004/web/5f63617465676f72798dc3715e9678c3cfullhd.webp);
    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 35vh;
    margin-top: 0px;
}

.top_menu {
    padding: 15px;
}

header {
    background-color:rgb(236, 232, 225);
}

body {
    margin: 0px;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-style: normal;
    background-color:rgb(249, 244, 238);
}

main {
    padding: 15px;
    padding-bottom: 40px;
}

.p-15 {
    padding: 15px;
}

footer{
    background-color:rgb(177, 175, 169);
    padding: 15px;
}


.row {
    display: flex;
}

.list_products {
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.product_column {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

.between{
    justify-content: space-between;
}

.vertical-center {
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding-left: 0px;
    gap: 45px;
}

a:hover {
    color:black;
    text-decoration: underline;
}

nav a {
    color:black;
    text-decoration: none;
    font-weight: bold;
}

.end {
    gap: 15px;
}

.center_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_product {
    padding-bottom: 20px;
    width: 60%;
}

.product {
    width: 40%;
    padding-left: 25px;
    margin: auto;
}

.product_item {
    margin-bottom: 15px;
}

.product_item .img_container {
    overflow: hidden;
}

.product_item:hover img {
    transform: scale(1.5);
    transition: transform 1s;
}

.product_item img {
    width: 100%;
}

.product_photo img {
    width: 100%;
}

.title {
    text-align: center;
}

.price {
    font-weight: bold;
    font-size: 1.4rem;
}

.item {
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.description {
    font-size: 1.2rem;
    text-align: justify;
}

button {
    margin: 10px;
    margin-left: 70px;
    padding: 10px 55px 10px 55px;
    background-color: black;
    color: rgb(249, 244, 238);
    border: none;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.1rem;
    font-weight: bold;
}

button:hover {
    background-color:rgb(177, 175, 169);
    color: #000;
    cursor: pointer;
    border: none;
}


@media screen and (max-width: 768px) {
    .product_column {
        width: 50%;
    }
    
}

@media screen and (max-width: 576px) {
    .product_column {
        width: 100%;
    }
    
}




.base {
    background-color:  rgb(249, 244, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.tit {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="tel"]{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.but_a {
    width: 50%;
    padding: 10px;
    background-color:black;
    border: none;
    color:rgb(249, 244, 238);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: auto;
}

.message {
    text-align: center;
    margin-top: 15px;
}

.error {
    color: red;
    font-size: 13px;
}

.has-error input {
    border: 1px solid red;
}