<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контентная страница</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top_menu row between vertical-center">
            <nav>
                <ul class="row">
                    <li><a href="file:///C:/Users/User/OneDrive%20-%20MAXIMUM/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/lr1_vr/main.html">На главную</a></li>
                    <li><a href="file:///C:/Users/User/OneDrive%20-%20MAXIMUM/%D0%A0%D0%B0%D0%B1%D0%BE%D1%87%D0%B8%D0%B9%20%D1%81%D1%82%D0%BE%D0%BB/lr1_vr/authorization.html">Личный кабинет</a></li>
                    <li><a href="">Корзина</a></li>
                    <li><a href="">Акции</a></li>
                </ul>
            </nav>
            <img class="logo" src="https://cdn1.flamp.ru/cafbfe0fa17cf6b5758195a42ded9564.jpg" />
        </div>
    </header>
    <main>
        <div><h2>Лосьон для тела La Sultane de Saba AYURVEDIQUE- AMBRE VANILLE PATCHOULI</h2></div>
        <section class="row">
            <section class="list_product">
                <div class="product_photo"><img src="https://pcdn.goldapple.ru/p/p/19760322898/web/696d67416464315f36636161383738633331373034653762623965323036366138643764333034378dc895e6aaf0a42fullhd.webp" /> </div>
                
            </section>
            <section class="product">
                <div>
                    <h2>Описание</h2>
                    <p class="description">
                        Лосьон, в основе формулы которого лежат натуральные масла ши, сладкого миндаля и кокосовое молоко, имеет легкую сатиновую текстуру, мгновенно питает кожу, укрепляет и делает ее нежнее.
                        Чарующий шлейфовый аромат лосьона надолго остается на теле и способен заменить парфюм: завораживающая теплая амбра, окутывающая ваниль и многогранный аромат пикантного пачули, аромат настолько манящий, что опьяняет и дарит ощущение комфорта, сравнимое разве что с объятиями любимого человека.
                        <br>Объем: 200мл
                    </p>
                </div>
                <div class="row vertical-center">
                    <div class="price">7 153₽</div>
                    <div>
                        <button>Купить</button>
                    </div>
                </div>
            </section>
        </section>
    </main>

    <footer class="row between vertical-center">
        <div>
            <nav>
                <ul class="row">
                    <li><a href="">Наши магазины</a></li>
                    <li><a href="">Контакты</a></li>
                    <li><a href="">Пользовательское соглашение</a></li>
                </ul>
            </nav>
        </div>
        <div>©2024 Никольская А.В. КБ-211</div>
    </footer>
</body>
</html>